@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

*{
    box-sizing:border-box; 
}
body{
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 1rem;
    padding: 1rem;
    font-family: 'Merriweather', serif;
  }

.col-4{
    width: 70%;
}

.imagedBox {
    display:flex;
    flex-direction: row;
    margin-right: 0%;
}

.reversedImagedBox {
    display:flex;
    flex-direction: row-reverse;
    margin-left: 0%;
}

.row{
    width: 80%;
}

.correct{
    width: 60%;
    height: 60%;
    margin-left: 2%;
}

.screenshot{
    width: 60%;
    height: 60%;
    margin-right: 2%;
}