.list-container{
  padding: 0.5rem;
  border: 1px #9764c7 solid;
  border-radius: 20px;
}

ul{
  list-style: none;
}

li{
  font-size: 1.4rem;
}
.word-list-info-row{
  text-decoration: underline;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.correct {
  font-size: 1.2rem;
  margin-left: 1.4rem;
}

@media screen and (min-width: 500px){
  .list-container{
    padding-left: 5rem;
    padding-right: 25rem;
  }
}