.list-container{
  border: 1px black solid;
}
.word-list-info-row{
  text-decoration: underline;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.correct {
  font-size: 2rem;
}