header{
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  /* header::after{
    display: table;
    content: '';
  } */

#header-left{
 align-self: flex-start;
}

#header-right{
  align-self: flex-start;
 }

.brand{
    font-size: 16px;
    /* color: black; */
    /* float: left; */
    margin-top: 0px;
    padding-left: 5px;
  }
nav{
    /* float: right; */
    /* margin-right: 1em; */
  }
  span{
    /* margin-right: 1em; */
  }
  nav {
    /* display: flex;
    flex-direction: row; */
    background-color:#f1e4e4;
    margin-left: 5rem;
  }
  
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .navlinks{
    justify-content: flex-end;
    /* float: right; */
    margin-right: 1rem;
  }
  
  button, input{
    background-color: #f1e4e4;
  }
  
  .logo{
    /* float: left; */
    align-self: flex-start;
    border-radius: 70%;
    width: 2rem;
    height: 2rem;
    margin: 0rem;
    margin-bottom: 0.5rem;
  }
.logout-container{
  /* float:right; */
  align-self: flex-end;
}

@media screen and (min-width: 360px){
  nav {
    background-color:#f1e4e4;
    margin-left:10rem;
  } 
} 

@media screen and (min-width: 400px){
  nav {
    background-color:#f1e4e4;
    margin-left:13rem;
  } 

.logo {
    margin-left: 1rem;
  }
} 

@media screen and (min-width: 700px){
  nav {
    background-color:#f1e4e4;
    margin-left:40rem;
  } 

.logo {
    margin-left: 4rem;
  }
}

@media screen and (min-width: 840px){
  nav {
    background-color:#f1e4e4;
    margin-left:35rem;
  } 

.logo {
    margin-left: 10rem;
  }
} 

@media screen and (min-width: 840px){
  nav {
    background-color:#f1e4e4;
    margin-left:50rem;
  } 

.logo {
    margin-left: 10rem;
  }
} 