header{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
}

button, input, header{
  background-color: #f1e4e4;
}

.logo{
  align-self: flex-start;
  border-radius: 70%;
  width: 3rem;
  height: 3rem;
  margin: 0rem;
  margin-bottom: 0.5rem;
  padding-top: .5rem;
  padding-left: .5rem;
}
#header-left{
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  justify-content: flex-start;
}
h1 {
  margin-top: -18px;
}

#header-right{
  margin-right: 2%;
  margin-left:0%;
}

.navlinks{
  margin-right: 0%;
  margin-left:0%;
}

.logout-container a, .logout-container{
  font-size: 1rem;
  margin-left: 4px;
  margin-top: 10px;
}

@media screen and (min-width: 500px){
  .logout-container a, .logout-container{
      font-size: 1.5rem;
      margin-left: 10px;
      margin-top: 7px;
  }
}

@media screen and (min-width: 1000px){
  #header-right{
    margin-right: 15rem;
  }
  #header-left{
    margin-left: 15rem;
  }
}