@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Merriweather');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2a6171;
  font-size: 2rem !important;
}

main{
  background-color: #b4e9e2;
}

html{
  font-size: 62.5% !important;
  background-color: #b4e9e2;
}

header {
  text-align: center;
  background-color: #f1e4e4;
  padding: 2rem;
  font-family: 'Lora', serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}

header div{
  display: inline-block;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* header div img{
  display: inline-block;
} */

:root {
  --font-size: calc(10px + 1vmin);
}

a{
  color: #9764c7;
  text-decoration: none;
  font-size: 1.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  background-color:#f1e4e4;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.navlinks{
  /* justify-content: flex-end; */
  margin-right: 1rem;
}

button, input{
  background-color: #f1e4e4;
}

.logo{
  border-radius: 70%;
  width: 4rem;
  height: 4rem;
  margin: 0rem;
  background-color: #f1e4e4;
  margin-bottom: 0.5rem;
}
