@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Merriweather');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2a6171;
  font-size: 2rem !important;
}

main{
  background-color: #b4e9e2;
}

html{
  font-size: 62.5% !important;
  background-color: #b4e9e2;
}

header {
  text-align: center;
  background-color: #f1e4e4;
  padding-top: .5rem;
  padding-left: .5rem;
  font-family: 'Lora', serif;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}

header div{
  /* display: inline-block; */
  display: flex;
  float: left;
  /* flex-direction: row; */
  /* align-items: center; */
}

/* header div img{
  display: inline-block;
} */

:root {
  --font-size: calc(10px + 1vmin);
}

a{
  color: #9764c7;
  text-decoration: none;
  font-size: 1.5rem;
}

