@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Merriweather');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2a6171;
  font-size: 2rem !important;
}

main{
  background-color: #b4e9e2;
}

html{
  font-size: 62.5% !important;
  background-color: #b4e9e2;
}

header {
  text-align: center;
  background-color: #309286;
  padding: 2rem;
  font-family: 'Lora', serif;
}

:root {
  --font-size: calc(10px + 1vmin);
}

a{
  color: #ebefd0;
  text-decoration: none;
  font-size: 2rem;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  background-color:#309286;
}

.navlinks{
  justify-content: flex-end;
  margin: 2rem;
}